Language: Cpp
AlignAfterOpenBracket: AlwaysBreak
AllowShortFunctionsOnASingleLine: All
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: Yes
AlwaysBreakTemplateDeclarations: Yes
ColumnLimit: 80
